In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('car data.csv', usecols=['Car_Name', 'Year','Selling_Price','Driven_kms','Fuel_Type','Owner'])

In [3]:
df.head()

  Car_Name  Year  Selling_Price  Driven_kms Fuel_Type  Owner
0     ritz  2014           3.35       27000    Petrol      0
1      sx4  2013           4.75       43000    Diesel      0
2     ciaz  2017           7.25        6900    Petrol      0
3  wagon r  2011           2.85        5200    Petrol      0
4    swift  2014           4.60       42450    Diesel      0

In [4]:
df.sample(15)

,Car_Name,Year,Selling_Price,Driven_kms,Fuel_Type,Owner
280,brio,2015,5.25,14465,Petrol,0
68,corolla altis,2011,4.35,88000,Petrol,0
131,Yamaha FZ 16,2015,0.75,18000,Petrol,0
179,Honda Karizma,2010,0.31,213000,Petrol,0
5,vitara brezza,2018,9.25,2071,Diesel,0
291,brio,2015,5.40,31427,Petrol,0
59,fortuner,2014,19.99,41000,Diesel,0
278,jazz,2016,6.00,4000,Petrol,0
112,KTM 390 Duke,2014,1.15,7000,Petrol,0
35,sx4,2011,2.95,49998,CNG,0
111,Royal Enfield Thunder 350,2016,1.15,8700,Petrol,0
14,dzire,2009,2.25,77427,Petrol,0
123,Royal Enfield Classic 350,2013,1.00,46500,Petrol,0
89,etios g,2014,4.75,40000,Petrol,0
23,alto k10,2014,2.50,45280,Petrol,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Driven_kms     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Owner          301 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 14.2+ KB

In [6]:
df.shape

(301, 6)

In [7]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Driven_kms       0
Fuel_Type        0
Owner            0
dtype: int64

In [8]:
df.duplicated().sum()

3

In [9]:
df['Year'].unique()

array([2014, 2013, 2017, 2011, 2018, 2015, 2016, 2009, 2010, 2012, 2003,
       2008, 2006, 2005, 2004, 2007], dtype=int64)

In [10]:
df['Driven_kms'].unique()

array([ 27000,  43000,   6900,   5200,  42450,   2071,  18796,  33429,
        20273,  42367,   2135,  51000,  15000,  26000,  77427,  41678,
        35500,  41442,  25000,   2400,  50000,  45280,  56879,  20000,
        55138,  16200,  44542,  45000,  51439,  54200,  39000,  49998,
        48767, 127000,  10079,  62000,  24524,  46706,  58000,  45780,
        64532,  65000,  25870,  37000, 104707,  40000, 135000,  90000,
        70000,  40534,  39485,  41000,  40001,  40588,  78000,  47000,
         6000,  11000,  59000,  88000,  12000,  71000,  56001,  83000,
        36000,  72000, 135154,  80000,  89000,  23000,  38000, 197176,
       142000,  56000,  58242,  75000,  29000,   8700,  50024,   3000,
         1400,   4000,   1200,   4100,  21700,  16500,  18000,   7000,
        35000,  17000,  17500,  33000,  14000,   5400,   5700,  46500,
        11500,   1300,   5000,   3500,    500,  11800,  23500,  16000,
        16600,  32000,  19000,  24000,  31000,  13000,   8000,   4300,
         8600,  14500,   1000,  42000,   5500,   6700,  13700,  38600,
        30000, 213000,  60000,  21000,   1900,  22000,  55000,  49000,
       500000,  53000,  92233,  28200,  53460,  28282,   3493,  12479,
        34797,   3435,  21125,  35775,  43535,  22671,  31604,  20114,
        36100,  12500,  45078,  38488,  77632,  61381,  36198,  22517,
        24678,  57000,  52132,  15001,  12900,   4492,  15141,  11849,
        68000,  60241,  23709,  32322,  35866,  34000,  35934,  56701,
        31427,  48000,  54242,  53675,  49562,  40324,  36054,  29223,
         5600,  40023,  16002,  40026,  21200,  19434,  18828,  69341,
        69562,  27600,  61203,  30753,  24800,  21780,  40126,  14465,
        50456,  63000,   9010,   9800,  15059,  28569,  44000,  10980,
        33019,  60076,  33988,  87934,   9000,   5464], dtype=int64)

In [11]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [12]:
# BackUp

In [13]:
backup = df.copy()

In [14]:
df['Year']

0      2014
1      2013
2      2017
3      2011
4      2014
       ...
296    2016
297    2015
298    2009
299    2017
300    2016
Name: Year, Length: 301, dtype: int64

In [15]:
df['Driven_kms']

0      27000
1      43000
2       6900
3       5200
4      42450
       ...
296    33988
297    60000
298    87934
299     9000
300     5464
Name: Driven_kms, Length: 301, dtype: int64

In [16]:
df['Car_Name'] = df['Car_Name'].str.split(' ').str.slice(0,3).str.join(' ')

In [17]:
df.sample(15)

                  Car_Name  Year  Selling_Price  Driven_kms Fuel_Type  Owner
276                   city  2015           8.65       24800    Petrol      0
89                 etios g  2014           4.75       40000    Petrol      0
227                    i10  2011           2.55       57000    Petrol      0
49                    ciaz  2017           7.75       37000    Petrol      0
213                    i20  2011           2.90       31604    Petrol      0
278                   jazz  2016           6.00        4000    Petrol      0
196              Activa 3g  2008           0.17      500000    Petrol      0
114  Royal Enfield Classic  2015           1.15       17000    Petrol      0
51                fortuner  2015          23.00       40000    Diesel      0
113    Mahindra Mojo XT300  2016           1.15       35000    Petrol      0
30                    ritz  2012           3.10       51439    Diesel      0
53                fortuner  2013          16.00      135000    Diesel      0
40                  baleno  2016           5.85       24524    Petrol      0
186               TVS Wego  2010           0.25       22000    Petrol      0
23                alto k10  2014           2.50       45280    Petrol      0

In [18]:
df.shape

(301, 6)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Driven_kms     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Owner          301 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 14.2+ KB

In [20]:
df.describe()

              Year  Selling_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296   36947.205980    0.043189
std       2.891554       5.082812   38886.883882    0.247915
min    2003.000000       0.100000     500.000000    0.000000
25%    2012.000000       0.900000   15000.000000    0.000000
50%    2014.000000       3.600000   32000.000000    0.000000
75%    2016.000000       6.000000   48767.000000    0.000000
max    2018.000000      35.000000  500000.000000    3.000000

In [21]:
df[df['Selling_Price']<25].reset_index(drop=True)

    Car_Name  Year  Selling_Price  Driven_kms Fuel_Type  Owner
0       ritz  2014           3.35       27000    Petrol      0
1        sx4  2013           4.75       43000    Diesel      0
2       ciaz  2017           7.25        6900    Petrol      0
3    wagon r  2011           2.85        5200    Petrol      0
4      swift  2014           4.60       42450    Diesel      0
..       ...   ...            ...         ...       ...    ...
294     city  2016           9.50       33988    Diesel      0
295     brio  2015           4.00       60000    Petrol      0
296     city  2009           3.35       87934    Petrol      0
297     city  2017          11.50        9000    Diesel      0
298     brio  2016           5.30        5464    Petrol      0

[299 rows x 6 columns]

In [22]:
df.to_csv('cars.csv')

In [23]:
x = df.drop(columns='Selling_Price')
y = df['Selling_Price']

In [24]:
x

    Car_Name  Year  Driven_kms Fuel_Type  Owner
0       ritz  2014       27000    Petrol      0
1        sx4  2013       43000    Diesel      0
2       ciaz  2017        6900    Petrol      0
3    wagon r  2011        5200    Petrol      0
4      swift  2014       42450    Diesel      0
..       ...   ...         ...       ...    ...
296     city  2016       33988    Diesel      0
297     brio  2015       60000    Petrol      0
298     city  2009       87934    Petrol      0
299     city  2017        9000    Diesel      0
300     brio  2016        5464    Petrol      0

[301 rows x 5 columns]

In [25]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [26]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [29]:
X_train

             Car_Name  Year  Driven_kms Fuel_Type  Owner
230             verna  2013       45000    Diesel      0
148  Bajaj Pulsar 220  2010       45000    Petrol      0
253              city  2014       48000    Diesel      0
38           alto k10  2016       10079    Petrol      0
150    TVS Apache RTR  2011        6000    Petrol      0
..                ...   ...         ...       ...    ...
52             innova  2017       15000    Diesel      0
85              camry  2006      142000    Petrol      3
179     Honda Karizma  2010      213000    Petrol      0
162   Bajaj Pulsar NS  2012       14500    Petrol      0
27              swift  2017       16200    Petrol      0

[240 rows x 5 columns]

In [30]:
X_test

               Car_Name  Year  Driven_kms Fuel_Type  Owner
242               xcent  2014       34000    Petrol      0
106      Hyosung GT250R  2014       16500    Petrol      1
6                  ciaz  2015       18796    Petrol      0
201                 i20  2010       58000    Diesel      1
171    Hero Passion Pro  2015        6700    Petrol      0
..                  ...   ...         ...       ...    ...
129         Yamaha FZ S  2017        5000    Petrol      0
229                 i20  2012       52132    Diesel      0
211             elantra  2015       43535    Diesel      0
191  Bajaj Discover 125  2012       25000    Petrol      1
175      Hero Honda CBZ  2011       75000    Petrol      0

[61 rows x 5 columns]

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [32]:
ohe = OneHotEncoder(sparse_output = False)
ohe.fit(x[['Car_Name','Fuel_Type']])

OneHotEncoder(sparse_output=False)

In [33]:
ohe.categories_

[array(['800', 'Activa 3g', 'Activa 4g', 'Bajaj  ct', 'Bajaj Avenger 150',
        'Bajaj Avenger 220', 'Bajaj Avenger Street', 'Bajaj Discover 100',
        'Bajaj Discover 125', 'Bajaj Dominar 400', 'Bajaj Pulsar ',
        'Bajaj Pulsar 135', 'Bajaj Pulsar 150', 'Bajaj Pulsar 220',
        'Bajaj Pulsar NS', 'Bajaj Pulsar RS200', 'Hero  CBZ',
        'Hero  Ignitor', 'Hero Extreme', 'Hero Glamour', 'Hero Honda CBZ',
        'Hero Honda Passion', 'Hero Hunk', 'Hero Passion Pro',
        'Hero Passion X', 'Hero Splender Plus', 'Hero Splender iSmart',
        'Hero Super Splendor', 'Honda Activa 125', 'Honda Activa 4G',
        'Honda CB Hornet', 'Honda CB Shine', 'Honda CB Trigger',
        'Honda CB Unicorn', 'Honda CB twister', 'Honda CBR 150',
        'Honda Dream Yuga', 'Honda Karizma', 'Hyosung GT250R',
        'KTM 390 Duke', 'KTM RC200', 'KTM RC390', 'Mahindra Mojo XT300',
        'Royal Enfield Bullet', 'Royal Enfield Classic',
        'Royal Enfield Thunder', 'Suzuki Access 125', 'TVS Apache RTR',
        'TVS Jupyter', 'TVS Sport ', 'TVS Wego', 'UM Renegade Mojave',
        'Yamaha FZ ', 'Yamaha FZ 16', 'Yamaha FZ S', 'Yamaha Fazer ',
        'alto 800', 'alto k10', 'amaze', 'baleno', 'brio', 'camry', 'ciaz',
        'city', 'corolla', 'corolla altis', 'creta', 'dzire', 'elantra',
        'eon', 'ertiga', 'etios cross', 'etios g', 'etios gd',
        'etios liva', 'fortuner', 'grand i10', 'i10', 'i20', 'ignis',
        'innova', 'jazz', 'land cruiser', 'omni', 'ritz', 's cross',
        'swift', 'sx4', 'verna', 'vitara brezza', 'wagon r', 'xcent'],
       dtype=object),
 array(['CNG', 'Diesel', 'Petrol'], dtype=object)]

In [34]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Car_Name','Fuel_Type']),remainder='passthrough')

In [35]:
lr = LinearRegression()

In [36]:
pipe = make_pipeline(column_trans,lr)

In [37]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['800', 'Activa 3g', 'Activa 4g', 'Bajaj  ct', 'Bajaj Avenger 150',
       'Bajaj Avenger 220', 'Bajaj Avenger Street', 'Bajaj Discover 100',
       'Bajaj Discover 125', 'Bajaj Dominar 400', 'Bajaj Pulsar ',
       'Bajaj Pulsar 135', 'Bajaj Pulsar 150', 'Bajaj Pu...
       'city', 'corolla', 'corolla altis', 'creta', 'dzire', 'elantra',
       'eon', 'ertiga', 'etios cross', 'etios g', 'etios gd',
       'etios liva', 'fortuner', 'grand i10', 'i10', 'i20', 'ignis',
       'innova', 'jazz', 'land cruiser', 'omni', 'ritz', 's cross',
       'swift', 'sx4', 'verna', 'vitara brezza', 'wagon r', 'xcent'],
      dtype=object),
                                                                            array(['CNG', 'Diesel', 'Petrol'], dtype=object)]),
                                                  ['Car_Name', 'Fuel_Type'])])),
                ('linearregression', LinearRegression())])

In [38]:
y_pred = pipe.predict(X_test)
y_pred

array([  3.30992704,   4.08205381,   7.77386788,   4.87620708,
         1.24552218,   6.48911397,  11.56400368,   1.14644279,
         3.26307321,  -0.3209644 ,   5.68748227,   2.98241069,
         4.77961546,   4.18452314,   5.10787605, -12.65509325,
         5.0335172 ,   1.95095856,   8.90355555,   6.24541949,
         3.39003178,   3.62039758,   1.82949043,  16.72803814,
         4.45425523,   8.44366853,   0.63385849,   0.81212473,
         1.53364778,   3.55308695,   2.19592829,   7.27333591,
         7.08008067,   0.98697265,   0.84085466,   4.44828303,
         5.12449866,   1.2417562 ,  -1.76902568,   8.35235034,
         8.1646717 ,   1.22385984,  -4.25153587,   6.29437157,
         5.10260061,   2.50957188,   0.61918262,   3.28831967,
         2.79001694,   0.08687582,   2.71878765,   3.68062733,
         8.39362702,   4.79406615,   7.28442016,  19.24988701,
         2.00801928,   5.15022561,   9.35853536,   1.3714366 ,
         0.16142209])

In [39]:
r2_score(y_test,y_pred)

0.288560629806661

In [40]:
scores = []
for i in range(1000):
    X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred = pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [41]:
np.argmax(scores)

282

In [42]:
scores[np.argmax(scores)]

0.8929389307750473

In [43]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8703896775296451

In [44]:
import pickle

In [45]:
pickle.dump(pipe,open('LinearRegression.pkl','wb'))

In [46]:
pipe.predict(pd.DataFrame(columns=['Car_Name','Year','Driven_kms','Fuel_Type','Owner'],data=np.array(['city',2019,100,'Petrol',0]).reshape(1,5)))

array([10.75997651])

In [47]:
# Car_Name	Year	Driven_kms	Fuel_Type	Owner